<ion-view title="List Event">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="newEvent()">
      <i class="icon ion-compose"></i>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate" ng-repeat="event in events" type="item-text-wrap" href="#/tab/event/{{event.rowid}}">
        <h3>{{event.title}}</h3>
        <ion-delete-button class="ion-minus-circled" ng-click="destroy(event)"></ion-delete-button>
        <ion-option-button class="button-calm" ng-click="edit(item)"> Edit </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="destroy(event)"> Hapus </ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>